@page "/access-denied"

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <div class="text-center">
                    <img src="/images/access-denied.png" style="max-height: 5rem;" />
                </div>
                <span class="text-danger fw-bolder">You dont't have permission to access this page.</span>
            </div>
        </div>
    </div>
</div>